body {
    background: linear-gradient(270deg, #2e6dff, #aa00ff, #ff8f65);
    background-size: 400% 400%;
    font-weight: bold;
    animation: anim 20s ease-in-out infinite;

}

.beauinput {
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

}

#idi {
    background-image: url("https://storage.googleapis.com/isometriclove.appspot.com/mail_s.png");
    background-size: 30px 30px;
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left:40px;


}



#idn {
    background-image: url("https://storage.googleapis.com/isometriclove.appspot.com/human-3.png");
    background-size: 30px 30px;
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left:40px;


}




#idp {
    background-image: url("https://storage.googleapis.com/isometriclove.appspot.com/lock_S.png");
    background-size: 30px 30px;
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left:40px;


}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.send {
    width: 30px;
    height: 50px;
    background: transparent;
    border: none;
    margin-left: -45px;
    position: fixed;
    background-image: url("https://uxwing.com/wp-content/themes/uxwing/download/02-arrow-direction/angle-circle-arrow-right.png");
    background-size: 30px 30px;
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left:40px;
}

.beauinput:focus {
    outline: none;
}
.fixed-top{
    top: 40px !important;
}
a { text-decoration: none !important; color: black !important;}
nav{
    margin: auto;
    color: black !important;
    width: min-content;
    border-radius: 100px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

nav a {
    margin: 0 5px 0 5px;
}

.bg-dark {
    background-color: black !important;
    color: white !important;
}

@keyframes anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
