{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block main %}

    <div class="container text-center vertical-center" id="scroll" style="color: white; margin-top: -30px">
    <h1>Hello, shoud we </h1>
        <h1><span style="color: #3b68ec; cursor: pointer" onclick="login()">log you in</span> or <span
                style="color: #ff00d5; cursor: pointer" onclick="signup()">signup you up</span> ?</h1>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        function login() {
            $("#scroll").slideUp(300, function () {
                $("#scroll").empty()

                $("<h1>Login in.</h1>").appendTo("#scroll")
                $("<form action='/login' method='post'>" + "<input name='id'  id='idi' class='beauinput' placeholder='Mail' required><br><br><input name='pass'required id='idp'  type='password' placeholder='Password' class='beauinput'><button class='send' type='submit'></button> " + "</form>").appendTo("#scroll")
                $("#scroll").slideDown()
            })


        }

        function signup() {
            $("#scroll").slideUp(300, function () {
                $("#scroll").empty()

                $("<h1>Nice to meet you.</h1>").appendTo("#scroll")
                $("<form action='/signup' method='post' name='signup'>" + "<input required name='id' id='idn' class='beauinput' placeholder='Your name' type=''><br><br><input required name='email' id='idi' class='beauinput' placeholder='Mail' type='email'><br><br><input required name='pass' id='idp'  type='password' placeholder='Password' class='beauinput'><button class='send' type='submit'></button> " + "</form>").appendTo("#scroll")
                $("#scroll").slideDown()
            })


        }
    </script>


{% endblock %}