{% extends 'baseplayer.html' %}



{% block main %}
    <div id="player" style=""></div>


    <section id="top">
        <div class="row">
            <div class="col-auto">
                <img src="{{ album.cover_medium }}" height="130" class="cover">

            </div>
            <div class="col-auto">
                <h3>
                    <br>
                    {{ album.get_artist().name }}
                    <br>
                    {{ album.title }}
                    <br>


                </h3>
            </div>
        </div>

        <br>

        {% for trakc in album.get_tracks() %}
            <div class="track" style="" onclick="download('{{ trakc.title }}', '{{ trakc.artist }}')">

                {% if trakc.id in likes %}
                    <p class="lead" style="">{{ loop.index0 }}. {{ trakc.title }}
                    <p class="lead" style="margin-top: -18px; font-size: 15px; float: right;margin-right: 5%"><i
                            class='bx bxs-stopwatch'></i>{{ trakc.duration|convert }}</p>
                    <p class="lead" style="margin-top: -18px; font-size: 15px; float: right; margin-right: 5%"><i
                            class='bx bxs-heart' id="{{ trakc.id }}" onclick="like('{{ trakc.id }}', '1')"></i></p>

                    <p class="lead" style="margin-top: -18px; font-size: 15px; "><i
                            class='bx bx-microphone'></i>{{ trakc.artist.name }}</p>
                {% else %}
                    <p class="lead" style="">{{ loop.index0 }}. {{ trakc.title }}


                    <p class="lead" style="margin-top: -18px; font-size: 15px; float: right;margin-right: 5%"><i
                            class='bx bxs-stopwatch'></i>{{ trakc.duration|convert }}</p>
                    <p class="lead" style="margin-top: -18px; font-size: 15px; float: right; margin-right: 5%"><i
                            class='bx bx-heart' id="{{ trakc.id }}" onclick="like('{{ trakc.id }}' , '0')"></i></p>

                    <p class="lead" style="margin-top: -18px; font-size: 15px; "><i
                            class='bx bx-microphone'></i>{{ trakc.artist.name }}</p>
                {% endif %}


            </div>

        {% endfor %}


    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="http://www.youtube.com/player_api"></script>

    <script src="{{ url_for('static', filename='js/ytb.js') }}">

    </script>


    <script>
        function like(soundId, likedOrNote) {
            if (likedOrNote == 1) {
                $("#" + soundId).removeClass("bx bxs-heart")
                $("#" + soundId).addClass("bx bx-heart")
            } else {
                $("#" + soundId).removeClass("bx bx-heart")
                $("#" + soundId).addClass("bx bxs-heart")

            }
            fetch('/api/like/{{ email }}/' + soundId)
                .then(function (response) {
                    return response.blob();
                })
        }

        function download(songName, artist) {
            fetch('/api/download/' + artist + "/" + songName).then(response => response.json()).then(data => {
                $("#player").remove()
                $("body").append('<video id="player" autoplay controls ><source src="/static/songs/' + data.fileName+'" type="video/mp4"> </video>')

            })


        }
    </script>



{% endblock %}

