{% extends 'baseplayer.html' %}



{% block main %}

    <section id="top">
        <div class="row">
            <div class="col-auto">
                <img src="{{ artist.picture_medium }}" height="200" class="cover"
                     style="border-radius: 50% !important;">

            </div>
            <div class="col-auto">

                <h3>
                    <br>
                    <i class='bx bx-badge-check'></i>Verified artist
                    <p style="font-weight: bold; font-size: 60px">{{ artist.name }}</p>
                    <br>
                    <p class="lead" style="margin-top: -55px">{{ artist.nb_fan|number }} fans</p>
                    <br>


                </h3>

            </div>
        </div>

        <br>
        <h1>Top songs</h1>
        {% for trakc in artist.get_top()[:5] %}
            <div class="track" style="">
                <p class="lead" style=""><img src="{{ trakc.get_album().cover_small }}" height="32" class="cover"
                                              style="border-radius: 5px !important;"> {{ trakc.title }}
                <p class="lead" style="margin-top: -18px; font-size: 15px; float: right"><i
                        class='bx bxs-stopwatch'></i>{{ trakc.duration|convert }}</p>


            </div>

        {% endfor %}

            <h1>Albums</h1>

        <div class="row">
            {% for a in artist.get_albums() %}
                <div class="col-auto text-center content" style="margin: 9px">
                    <a href="/albums/{{ a.title }}"><img src="{{ a.cover_medium }}" height="126" class="cover"></a>
                </div>


            {% endfor %}
        </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>





{% endblock %}

