{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block main %}

    <div class="container text-center" id="scroll" style="color: white; margin-top: 200px; width: 100%; padding: 5%">
    <h1>Hello.</h1>
    <p>Scroll to discover our universe.</p>
    <img src="https://www.brasserie-cambier.fr/plugins/infinite_scroll/scrolldown.gif" height="40">
    </div>
    <section id="hello" style="color: white; margin-top: 175px; width: 100%; padding: 5%">
        <div class="row text-center">
            <div class="col-md-5">
                <img id="image" src="" height="230">
            </div>
            <div class="col" style="text-align: justify !important;">
                <br>
                <h1 id="title"></h1>
                <div>
                    <p class="lead" id="desc"></p>
                </div>
            </div>

        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
        actual = -1
        canChange = true
        list = {
            0: ["https://storage.googleapis.com/isometriclove.appspot.com/headphones_S.png", "music ❤️", "We made our way through the music streaming music industry over the lasts years to keep other music providers from increasing your bill. Only high-quality music and happiness will be found on our platform."],
            1: ["https://storage.googleapis.com/isometriclove.appspot.com/robot_S.png", "the way we do it", "We've spent the last years developing the most cutting-edge technologies available in the music industry. Bye-bye to poor audio quality. Welcome to the world of High-End Music with any kind of earbuds. We are grateful to you."],
            2: ["https://storage.googleapis.com/isometriclove.appspot.com/cash.png", "money", "We've worked extremely hard to maintain our title as the industry's cheapest music provider. Enjoy  gratis hi-fi music with no advertisements. Greetings, and welcome to a brand-new universe."],
            3: ["https://storage.googleapis.com/isometriclove.appspot.com/lock_S.png", "privacy", "With us, privacy is important. Don't worry, no one will ever know what kind of music you enjoy. Not even us. It is indeed just you and you. Cryptography ensures your privacy."]
        }
        $("#hello").hide()


        $(window).bind('mousewheel', function (event) {
            $("#scroll").remove()
            $( "#hello" ).slideDown( 500 );

            if (event.originalEvent.wheelDelta >= 0) {

            } else {
                if (canChange == true) {
                    $("#hello").hide()
                    $( "#hello" ).slideDown( 700 );

                    actual = (actual + 1) % Object.keys(list).length
                    document.getElementById("image").src = list[actual][0]
                    document.getElementById("title").innerHTML = list[actual][1]
                    document.getElementById("desc").innerHTML = list[actual][2]
                    canChange = false
                    setTimeout(function () {
                        canChange = true
                    }, 2000)
                }

            }
        });
    </script>

{% endblock %}