{% extends 'baseplayer.html' %}



{% block main %}
    <h1>Hey, {{ name }}</h1>

    <section id="top">
        <h4>Top albums</h4>

        <div class="row">
            {% for a in albums[:4] %}
                    <div class="col-auto text-center content" style="margin: 4px">
                        <a href="/albums/{{ a.title }}"><img src="{{ a.cover_medium }}" height="126" class="cover"></a>
                        <p class="lead" style="font-size: 15px">{{ a.title }}</p>
                        <p class="lead" style="font-size: 15px; margin-top: -20px">{{ a.get_artist().name }}</p>
                    </div>


            {% endfor %}
        </div>

    </section>
    <section id="A">
        <h4>Top artist</h4>

        <div class="row">
            {% for a in artist[::-1][0:4] %}
                    <div class="col-auto text-center content" style="margin: 4px">
                        <a href="/artist/{{ a.name }}"><img src="{{ a.picture_medium }}" height="126" class="cover" style="border-radius: 50% !important;"></a>
                        <p class="lead" style="font-size: 15px">{{ a.name }}</p>
                    </div>

            {% endfor %}
        </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>





{% endblock %}

